<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand mx-auto">Ecommerce AI</a>
    <a href="/">Home</a>
</nav>

<!-- BUTTON -->
<div class="text-center mt-5">
    <a href="/main" class="btn btn-primary">Go To Main Page</a>
</div>

<!-- PRODUCTS -->
<div class="container mt-5">
    <div class="row">
    {% for index, product in trending_products.iterrows() %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{ random_product_image_urls[index] }}" height="200">
                <div class="card-body">
                    <h5>{{ truncate(product['Name'],12) }}</h5>
                    <p>{{ product['Brand'] }}</p>
                    <p>₹ {{ random_price }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

</body>
</html>